 * {
  font-family: 'Oxygen', sans-serif;
  color:rgb(42, 187, 119);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sbutton {
  margin-top: 20px;
  margin-bottom: 20px;
}

span {
  list-style: none;
  display: block;
}

footer p{
  max-width: 70%;
  margin: 0 auto;
  align-items: center;
}